@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@using UmbracoProject1.ViewModels
@{
    var content = (ContentModels.AboutCallbackSection)Model.Content;
    var settings = Model.Settings as ContentModels.AboutCallbackSettings;

    var formViewModel = new CallbackFormViewModel
        {
            Options = settings?.CallbackRequestOptions ?? []
        };
}

<section class="py-15 lg:py-28">
    <div class="mx-auto flex max-w-7xl flex-col gap-10 px-4 lg:flex-row">

        <div class="flex flex-col lg:w-7/12 lg:flex-row">
            <div class="rte">
                @Html.Raw(content.AboutCallbackSectionBody)
            </div>
        </div>

        <div class="z-[99] flex flex-col bg-white shadow-md lg:-mt-[11rem] lg:w-5/12">
            <div class="bg-primary">
                <p class="px-[2rem] py-[1.5rem] font-bold text-sub-2 text-[1.875rem]">@content.AboutCallbackFormTitle</p>
            </div>
            <p class="px-[2rem] py-[1.5rem] text-sm italic">@content.AboutCallbackFormDescription</p>

        <partial name="Partials/Forms/_CallbackForm" model="formViewModel"/>

            @if (TempData["FormSuccess"] !=null)
            {
                <div class="mx-[2rem] mb-4 rounded-md bg-green-50 p-4 text-green-700">
                    @TempData["FormSuccess"]
                </div>
            }

            else if (TempData["FormError"] !=null) {
                <div class="mx-[2rem] mb-4 rounded-md bg-red-50 p-4 text-red-700">
                    @TempData["FormError"]
                </div>       
            }
        </div>
    </div>
</section>