@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@using UmbracoProject1.ViewModels
@{
    var content = (ContentModels.ContactCallbackSection)Model.Content;
    var settings = Model.Settings as ContentModels.AboutCallbackSettings;

    var formViewModel = new CallbackFormViewModel
    {
        Options = settings?.CallbackRequestOptions ?? []
    };
}

<section class="bg-white-100 py-10 lg:bg-transparent">
        <div class="absolute h-[30rem] w-full overflow-hidden lg:bg-gray-400">
            @if (@content.ContactCallbackBgImage != null)
            {
                <img class="hidden h-full w-full object-cover opacity-60 lg:flex" src="@content.ContactCallbackBgImage.Url()" alt="@content.ContactCallbackBgImage.Name">
            }
        </div>

    <div class="mx-auto flex max-w-7xl px-4 lg:mt-44">
        <div class="z-[99] mx-auto flex flex-col bg-white shadow-md lg:w-8/12">

            <div class="text-center lg:px-30">
                <p class="px-[2rem] pt-[2.5rem] text-sm font-bold text-sub-2 uppercase">@content.ContactCallbackFormLabel</p>
                <p class="px-[2rem] pt-[0.5rem] font-bold text-primary text-[2.5rem]">@content.ContactCallbackFormTitle</p>
                <p class="text-body-text-100 px-[2rem] py-[2.5rem] text-sm italic">@content.ContactCallbackFormDescription</p>
            </div>

            <partial name="Partials/Forms/_ContactCallbackForm" model="formViewModel" />

            @if (TempData["FormSuccess"] != null)
            {
                <div class="mx-[2rem] mb-4 rounded-md bg-green-50 p-4 text-green-700">
                    @TempData["FormSuccess"]
                </div>
            }

            else if (TempData["FormError"] != null)
            {
                <div class="mx-[2rem] mb-4 rounded-md bg-red-50 p-4 text-red-700">
                    @TempData["FormError"]
                </div>
            }
        </div>
    </div>
</section>