@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@{
    var content = (ContentModels.HeroSection)Model.Content;
}

<section class="relative h-[400px] bg-white-100 py-16 md:h-[600px] md:bg-cover md:bg-center md:bg-no-repeat md:py-[7rem]"
         style="background-image: url('@content.HeroBgImage.Url()')">

    <div class="relative z-10 mx-auto flex max-w-7xl flex-col gap-6 px-4 text-center md:text-left">
        <div class="flex flex-col gap-8 md:w-6/12">
            <h1 class="leading-tight font-bold text-[2.5rem] text-primary sm:text-5xl md:text-[4.5rem]">@content.HeroTitle</h1>
            <div class="rte">@Html.Raw(content.HeroText)</div>

            @* Hjälp tagen av Copilot för att få länken att fungera som den ska. Funktionen kollar om det finns någon länk och tar isåfall ut den första länken och visar. *@
            @if (content.HeroLink != null && content.HeroLink.Any())
            {
                var link = content.HeroLink.First();
                <a class="mx-auto cursor-pointer rounded bg-primary px-10 py-3 font-bold text-white no-underline md:mx-0 md:self-start" href="@link.Url">@link.Name</a> 
            }
        </div>
    </div>
</section>