@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@{
    var content = (ContentModels.ServiceSection)Model.Content;
    var settings = Model.Settings as ContentModels.ServiceSettings;
    var sectionColor = settings?.ServiceBgColor?.Color ?? "#FFFFFF";

    var current = Umbraco.AssignedContentItem;
    var siteRoot = current?.Root();

    var servicePage = siteRoot?.Children<ServicePage>()?.FirstOrDefault();
    var items = servicePage?.Children<ServiceDetail>()?.OrderByDescending(x => x.CreateDate).ToList() ?? [];
}

<section class="bg-[@sectionColor] py-[4rem]">
    <div class="mx-auto max-w-7xl px-4">
        <div class="flex flex-col items-center gap-2">

            @if (settings!.ShowServiceLabel)
            {
                <h2 class="font-bold text-[.875rem] text-sub-2 uppercase">@content.ServiceLabel</h2>
            }

            <div class="rte font-bold text-[2.5rem] text-primary">@Html.Raw(content.ServiceTitle)</div>
        </div>


        <div class="mt-5 grid grid-cols-3 gap-4">
            @if (items.Any())
            {
                @foreach(var item in items)
                {
                    <div class="min-h-[350px] w-full overflow-hidden border-2 border-border-gray bg-white transition-all hover:border-border-400 hover:shadow-[0_4px_15px_(rgba(0,0,0,0.1)]">
                        <a href="@item.Url()" class="block no-underline">
                            <h4 class="p-[1.5rem] font-semibold text-primary">@item.Name</h4>
                            <img src="@(item.ServiceDetailThumbnail?.Url() ?? "~/images/thumbnails/Risk-Management.svg") " class="block h-[220px] w-full object-cover" />
                            <p class="p-[1.5rem] text-sm text-body-text">@item.ServiceDetailExcerpt</p>
                        </a>
                    </div>
                }
            }
            else
            {
                <p>No Services Avalible</p>
            }
        </div>
    </div>
</section>